:root {
    --background-color-hex: #eae1cb;
    --color: #653817;
}

body {
    background-color: var(--background-color-hex);
    color: var(--color);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--color);
}

.navbar .nav-link.active {
    font-weight: bold;
    color: var(--color);
}

section {
    background-color: var(--background-color-hex);
    color: var(--color);
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--background-color-hex);
    color: var(--background-color-hex);
    padding: 100px 0;
}

.hero-section .btn-light {
    border-color: var(--color);
    color: var(--color);
}

/* services */
.services-section {
    color: var(--color);
    background-color: var(--background-color-hex);
}

.services-section .card {
    border: solid 1px var(--color);
}

.services-section .card-title {
    color: var(--color);
}

.services-section .card-text {
    color: var(--color);
}